@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
    font-size: larger;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

input {
    width: 250px;
    padding: 4px 12px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 20px;
    background-color: #f4faff;
}

input:focus {
    border: 2px solid #595959;
}

main {
    display: grid;
    place-items: center;
    gap: 50px;
}

.location-display {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.location-name {
    text-align: center;
} 

.coordinates {
    display: flex;
    place-items: center;
    
    gap: 1rem;
}

.label {
    font-size: 0.75rem;
    display: flex;
    place-items: center;
    color: rgb(101, 101, 101);
    
}

.latitude, .longitude {
    font-size: 1.1rem;
}

.current-weather {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-graphic {
    height: 90px;
    width: 90px;
}

.wind-graphic {
    height: 90px;
    width: 90px;
}

.wind-blow {
    font-size: 1rem;
}

.temp {
    font-size: 75px;
}

.temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.feels-like {
    margin: auto 0 0 0;
}

.air-quality {
    /* width: 20%; */
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 1.6rem;
    row-gap: 0.3rem;
}

.air-quality p:nth-child(2n+1) {
    text-align: end;
}

.air-quality p:nth-child(2n) {
    text-align: start;
}

/* -------------------slider----------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 5px;
    bottom: 3px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
 
/* -------------------slider-end----------------- */

