@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: larger;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

header {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    justify-content: space-between;
}

.controls {
    display: flex;
}

.logo-group {
    display: flex;
}

.logo-graphic {
    margin: -1.2rem;
    height: 6rem;
    width: 6rem;
}

.logo {
    font-size: 2.3rem;
    font-weight: 800;
}
.powered-by {
    font-size: 0.8rem;
}

.unit {
    height: 3.6rem;
    width: 3.6rem;
}

.search-block {
    justify-self: center;
    display: flex;
}
input {
    width: 275px;
    height: 1.6rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 20px;
    background-color: #f4faff;
    border-right: none;
}

input:focus {
    background: #f4f3f3;
    border: none;
}

.submit-btn {
    border-radius: 20px;
    cursor: pointer;
    height: 1.6rem;
    color: rgb(255, 255, 255);
    background: rgb(85, 85, 85);
    position: relative;
    left: -20px;
    padding: 0 0.8rem;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(192, 246, 191);
    color: rgb(233, 249, 233);
}

main {
    display: grid;
    place-items: center;
    gap: 50px;
}

.location-display {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.location-name {
    text-align: center;
} 

.coordinates {
    display: flex;
    place-items: center;
    
    gap: 1rem;
}

.label {
    font-size: 0.75rem;
    display: flex;
    place-items: center;
    color: rgb(101, 101, 101);
}

.latitude, .longitude {
    font-size: 1rem;
}

.current-weather {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-graphic {
    height: 90px;
    width: 90px;
}

.wind-graphic {
    height: 90px;
    width: 90px;
}

.wind-blow {
    font-size: 1rem;
}

.temp {
    font-size: 6.5rem;
}

.temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feels-like {
    margin: auto 0 0 0;
}

.hourly-weather {
    display: flex;
    gap: 0.3rem;
}

.by-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.6rem;
    padding: 0.1rem;
}

.air-quality-container {
    font-size: 0.85rem;
}

.prefix {
    text-align: center;
}

.air-quality {
    min-width: 9%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .2rem;
    border: 2px solid darkgray;
    border-radius: 14px;
    padding:  4px 7px;
}

.air-quality p:nth-child(2n) {
    text-align: end;
}

.index {
    display:flex;
    gap: 0.2rem;
}

.green {
    background-color: #DFFFE2;
}

.orange {
    background-color: #FFF2D9;
}

.red {
    background-color: #FFD9D9;
}

/* -------------------slider----------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    align-self: center;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 5px;
    bottom: 3px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
 
/* -------------------slider-end----------------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    padding: 2.2rem;
    margin-top:auto;
}
.powered {
    font-size: 0.6rem;
}

